{% extends 'base.html'%}
{% block content %}
<div class="header">
    <div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center search">
        <h1 class="display-4">Create Account</h1>
        <form class="form-signin loginform" method="POST" action="/register">
            {{ form.hidden_tag() }}
            {{ form.username(class='form-control bg-white border-left-0 border-md', placeholder='Username') }}
            <br>
            {{ form.password(class='form-control bg-white border-left-0 border-md', placeholder='Password') }}
            <br>
            <button class="btn btn-md btn-blue text-white" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}