.header{
    text-align: center;
}

body {
    color: #1E325C;
}

.display-4 {
    font-size: 2.5rem;
    font-family: "Montserrat";
    font-weight: 300;
    color: #FCA311;
}

.btn-blue{
    background-color: #1E325C;
    font-family: "Montserrat";
    font-weight: 300
}

.btn-yellow{
    background-color: #FCA311;
    font-family: "Montserrat";
    font-weight: 300
}

.curved{
    border-radius: 8px;
}

.heart{
    color:#e25555;
}

.footer{
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 2px;
  font-size: 12px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #FCA311;
}

.brand {
    font-family: "Caveat";
    color: #FCA311!important;
    font-size: 175%;
    margin-top:-0.3%

}

.item {
    font-family: "Montserrat";
    font-weight: 300;
    color: #1E325C!important;
}

.heading {
    font-family: "Montserrat";
    font-weight: 700
}

.subheading {
    font-family: "Montserrat";
    font-weight: 500;
}

.info {
    font-family: "Work Sans";
}

.card-text {
    font-family: "Work Sans";
}

.border-yellow {
    border-color: #ffffff;
}

::-webkit-input-placeholder { /* chrome, safari */
   font-family: "Work Sans";
   font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: "Work Sans";
   font-weight: 400;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: "Work Sans";
   font-weight: 400;
}

:-ms-input-placeholder {  /* Internet Explorer */
   font-family: "Work Sans";
   font-weight: 400;
}

.search{
    margin-top: -7%;
    /*background-image: url("../yellowblue.jpeg");
    background-size: 800px 400px;
    background-repeat: no-repeat;*/
}

.searchform {
    width: 70%
}

.loginform {
    width: 60%
}